h1 {
  display: flex;

  button {
    flex-grow: 0;
    position: relative;
    top: -1px;
  }
}

mat-card {
  mat-form-field,
  button {
    width: 100%;
  }

  button:not(:first-child) {
    margin-top: 10px;
  }
}
